@import event.sass

#events
  .events
    margin: 1em auto 0 auto
    width: 600px
    display: block
    width: 590px
    padding-top: 10px
    padding-bottom: 10px
    background-color: $white
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    -webkit-box-shadow: 0 0 5px $dark_sky
    -moz-box-shadow: 0 0 5px $dark_sky
    border: 1px solid $dark_sky

    .content
      +clearfix
      padding-top: 5px
      margin: 1em auto 0 auto
      width: 600px
      display: block
      border: 0px
      width: 500px
      -webkit-box-shadow: 0 0 5px $white
      -moz-box-shadow: 0 0 5px $white
      font-size: 0.9em
      @include event
