@mixin event_date
  .event_date
    margin-top: 1em
    margin-bottom: 0.5em
    margin-left: 1em
    float: left
    width: 80px
    display: block
    text-align: center
    .calendar_date
      border: 1px solid black
      background-color: $event-day-background-color
      span.month
        display: block
        background-color: $event-month-background-color
        color: $event-month-font-color
        font-size: 1.1em
        line-height: 1.7em
      span.day
        display: block
        background-color: $event-day-background-color
        color: $event-day-font-color
        font-size: 3em
        line-height: 1.2em
        font-weight: bold
        margin: 0 3px 3px
    .time
      background-color: $event-time-background-color
      color: $event-time-font-color
      font-size: 0.9em
      margin-top: 0.5em

