form
  margin-left: 5%
  margin-top: 5%
  width: 900px
  display: block
  label
    width: 12em
    float: left
    text-align: right
    font-size: 1.5em
    margin-left: 10%
    margin-right: 0.5em
    color: $dark_gray
    display: block
  input
    font-size: 1.5em
    margin-left: 0.5em
    margin-bottom: 10px
  #new_event
    margin-left: 75%
    margin-top: 10px
    line-height: 1.5em
    font-size: 1.0em
  select
    font-size: 1em
    margin-left: 0.5em
    margin-top: 10px
    margin-bottom: 5px
