#new_event
  width: 86%
  color: $font-color
  margin: 2em auto

#title
  width: 80%
  font-size: 2em
  margin-right: auto
  margin-left: auto

.form_field
  label
    width: 30%
  input
    float: right
    width: 70%
    margin-top: 1.3em
    font-size: 0.5em

#event_details
  line-height: 2em
  font-size: 1.5em

#event_date, #undefined_time
  margin-top: 0.6em
  line-height: 1em

  input
    margin-top: 0.2em

  .help
    font-size: 0.5em
    margin-top: -0.4em

  &#undefined_time
    margin-bottom: 1em
