/* line 1, sass/_header.sass */
#header {
  padding: 0.1em 0 0 0;
  background-color: #005c99;
  line-height: 2.5;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block;
}
/* line 2, sass/_mixins.sass */
#header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 13, sass/_mixins.sass */
#header {
  display: block;
}
/* line 6, sass/_header.sass */
#header .wrapper {
  margin-top: 0 !important;
}
/* line 8, sass/_header.sass */
#header .wrapper h1 {
  font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  float: right;
  margin: 0 1em 0 0;
  font-size: 1.5em;
}
/* line 14, sass/_header.sass */
#header .wrapper h1 strong {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-weight: bold;
}
/* line 18, sass/_header.sass */
#header .wrapper img {
  display: block;
}

/* line 1, sass/_options.sass */
#options {
  padding: 0.1em 0 0 0;
  background-color: #d4e9f3;
  line-height: 1.5;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block;
}
/* line 2, sass/_mixins.sass */
#options:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 13, sass/_mixins.sass */
#options {
  display: block;
}
/* line 6, sass/_options.sass */
#options .wrapper {
  margin-top: 0 !important;
}
/* line 8, sass/_options.sass */
#options .wrapper h1 {
  font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  float: right;
  margin: 0 1em 0 0;
  font-size: 1em;
}
/* line 13, sass/_options.sass */
#options .wrapper h1 strong {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-weight: bold;
}
/* line 17, sass/_options.sass */
#options .wrapper h1 span.option {
  padding-left: 1em;
}
/* line 19, sass/_options.sass */
#options .wrapper h1 span.option a {
  color: white;
  padding-left: 0;
  font-size: 1em;
  text-decoration: none;
}

/* line 2, sass/_intro.sass */
#intro .wrapper {
  padding-bottom: 10px;
  font-size: 1.1em;
  color: gray;
}

/* line 2, sass/_events.sass */
#events .wrapper {
  width: 590px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fafafa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #005c99;
  -moz-box-shadow: 0 0 5px #005c99;
  border: 2px solid #005c99;
}
/* line 13, sass/_events.sass */
#events .wrapper .wrapper {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block;
  border: 0px;
  width: 500px;
  -webkit-box-shadow: 0 0 5px #fafafa;
  -moz-box-shadow: 0 0 5px #fafafa;
  font-size: 0.9em;
}
/* line 2, sass/_mixins.sass */
#events .wrapper .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 13, sass/_mixins.sass */
#events .wrapper .wrapper {
  display: block;
}
/* line 20, sass/_events.sass */
#events .wrapper .wrapper .event {
  width: 430px;
  padding-bottom: 40px;
  padding-top: 20px;
}
/* line 24, sass/_events.sass */
#events .wrapper .wrapper .event a {
  font-size: 1.3em;
  color: #444444;
  text-decoration: none;
  padding-left: 30px;
}
/* line 29, sass/_events.sass */
#events .wrapper .wrapper .datebox {
  float: left;
  width: 70px;
  background-color: #005c99;
  border: 2px solid #fafafa;
  text-decoration: none;
  color: #005c99;
  display: block;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #005c99;
  -moz-box-shadow: 0 0 5px #005c99;
}
/* line 43, sass/_events.sass */
#events .wrapper .wrapper .datebox span.month {
  color: #f0f0f0;
  font-size: 1.1em;
}
/* line 46, sass/_events.sass */
#events .wrapper .wrapper .datebox span.time {
  color: #f0f0f0;
  font-size: 0.9em;
}
/* line 49, sass/_events.sass */
#events .wrapper .wrapper .datebox span.day {
  display: block;
  background-color: #f0f0f0;
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 3px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 1, sass/_addevent.sass */
#add_event {
  font-size: 0.8em;
  color: gray;
}
/* line 4, sass/_addevent.sass */
#add_event .wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* line 9, sass/styles.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 13, sass/styles.sass */
html {
  width: 100%;
}

/* line 16, sass/styles.sass */
body {
  line-height: 1.25;
  width: 100%;
  background-color: #f0f0f0;
}

/* line 21, sass/styles.sass */
.wrapper {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block;
  font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 1em auto 0 auto;
  width: 600px;
  display: block;
}
/* line 2, sass/_mixins.sass */
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 13, sass/_mixins.sass */
.wrapper {
  display: block;
}
/* line 27, sass/styles.sass */
.wrapper a {
  font-size: 0.9em;
  font-weight: bold;
  color: #666666;
}
