#header {
  padding: 0.1em 0 0 0;
  background-color: #005c99;
  line-height: 2.5;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  #header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #header {
    display: block; }
  #header .wrapper {
    margin-top: 0 !important; }
    #header .wrapper h1 {
      font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: white;
      float: right;
      margin: 0 1em 0 0;
      font-size: 1.5em; }
      #header .wrapper h1 strong {
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: oblique;
        font-weight: bold; }
    #header .wrapper img {
      display: block; }

#feeds {
  line-height: 1.5;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  #feeds:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #feeds {
    display: block; }
  #feeds .content {
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    display: inline-block;
    font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 1em auto 0 auto;
    width: 600px; }
    #feeds .content:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #feeds .content {
      display: block; }
    #feeds .content h1 {
      font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-weight: normal;
      float: right;
      font-size: 1em; }
      #feeds .content h1 span.feed {
        padding-left: 1em; }
        #feeds .content h1 span.feed a {
          color: #005c99;
          padding-left: 0;
          font-size: 1em;
          text-decoration: none; }
          #feeds .content h1 span.feed a img {
            vertical-align: top; }

#intro .wrapper {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 1.1em;
  color: gray; }

#events .events {
  margin: 1em auto 0 auto;
  width: 600px;
  display: block;
  width: 590px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffefe5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #005c99;
  -moz-box-shadow: 0 0 5px #005c99;
  border: 1px solid #005c99; }
  #events .events .content {
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1em auto 0 auto;
    width: 600px;
    display: block;
    border: 0px;
    width: 500px;
    -webkit-box-shadow: 0 0 5px #ffefe5;
    -moz-box-shadow: 0 0 5px #ffefe5;
    font-size: 0.9em; }
    #events .events .content:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #events .events .content {
      display: block; }
    #events .events .content .event .h2 {
      padding-left: 100px;
      width: 400px;
      padding-top: 15px;
      padding-bottom: 45px;
      text-align: left; }
      #events .events .content .event .h2 a {
        font-size: 1.3em;
        color: #444444;
        text-decoration: none; }
    #events .events .content .event .event_date {
      margin-left: 10px;
      float: left;
      width: 70px;
      background-color: #005c99;
      border: 2px solid #ffefe5;
      color: #005c99;
      display: block;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 10px #005c99;
      -moz-box-shadow: 0 0 10px #005c99; }
      #events .events .content .event .event_date span.month {
        color: #f0f0f0;
        font-size: 1.1em; }
      #events .events .content .event .event_date span.time {
        color: #f0f0f0;
        font-size: 0.9em; }
      #events .events .content .event .event_date span.day {
        display: block;
        background-color: #f0f0f0;
        font-size: 1.3em;
        line-height: 1.2em;
        font-weight: bold;
        margin: 0 3px 3px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }

#add_event {
  font-size: 0.8em;
  color: gray; }
  #add_event .wrapper {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 5px; }
    #add_event .wrapper #new_event {
      float: left;
      width: 160px;
      height: 20px;
      background-color: #ff7214;
      border: 2px solid #d65600;
      display: block;
      text-align: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 1px #d65600;
      -moz-box-shadow: 0 0 1px #d65600;
      line-height: 1.5em; }
      #add_event .wrapper #new_event a {
        font-size: 1.3em;
        font-weight: bold;
        color: #ffefe5;
        text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

body {
  line-height: 1.25;
  width: 100%;
  background-color: #f0f0f0; }

.wrapper {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: inline-block;
  font-family: "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 1em auto 5em auto;
  width: 600px;
  display: block; }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .wrapper {
    display: block; }
  .wrapper a {
    font-size: 0.9em;
    font-weight: bold;
    color: #666666; }
