.wrapper
  #intro
    .wrapper
      = link_to("Let's walk the path together!", '')
      nace para recopilar los eventos relacionados con el desarrollo de software que van surgiendo por toda España.
      %br
      %br
      ¡Acércate a la comunidad española de desarrolladores!

  = render 'new_event' unless session[:user_id].nil?
  = render 'events', :events => @events
